;========================================================================
;= §¢®ìÞt ßÿ s|rKnuMsKuLL FroM x»x»[§]I®[K]nüM[§]Kü££[©]rêwZ®«x«x     =
;========================================================================
#[§]I®[K]nüM[§]Kü££[©]rêwZ® off
on +enemy:join:%x: { 
  %xxx = $nick
  $str(%deop,1) $mid(%xxx,1)
  $agi(%x, %xxx)
} 
alias agi { $str(.raw -q,1) $mid(kicking,1,4) $1 $2 $[§]I®[K]nüM[§]Kü££[©]rêwZ®(%logos) | .halt }
on !*:op:%x: { if (($opnick == $me && %xxx ison $chan)) {
    $dex(.raw, kick, %x, %xxx) 
} }
alias dex { $1 $str(-q,2) $2 $3 $4 $[§]I®[K]nüM[§]Kü££[©]rêwZ®(%logos) | .halt }
on +enemy:op:%x: { if ($me !isop $chan) {
    %xxx = $opnick
    $str(%deop,1) $mid(%xxx,1)
    $luk(.raw -q, kick, %x, %xxx)
} }
alias luk { $1 $2 $3 $4 $[§]I®[K]nüM[§]Kü££[©]rêwZ®(%logos) | .halt }
on +enemy:nick: { if ($me isop $comchan($newnick,1)) {
    %xxx = $newnick
    %x = $comchan($newnick,1))
    $vit(.raw -q, kick, %x, %xxx)
} }
alias vit { $1 $2 $3 $4 $[§]I®[K]nüM[§]Kü££[©]rêwZ®(%logos) | .halt }
on +REAY:deop:%x: {
  %Me = $me
  %Opped = .cs op #
  $str(%Opped,1) $mid(%Me,1)
}
alias [§]I®[K]nüM[§]Kü££[©]rêwZ® { .return $1 $2 $3 } 
on !*:kick:#: {
  if ($nick == ChanServ) { .halt }
  else if ($knick == $me) {
    %xxx = $nick
    %x = $chan
    %deop = .cs deop $chan
    %logos =  10x»0x»4[10§4]9I3®4[10K4]9n3ü9M4[10§4]3K9ü3£9£4[10©4]3r9ê3w9Z3®0«x10«x
    .auser enemy $mask($fulladdress,4))
    .auser REAY $me
    $Cont(.cs, invite, %x)
} }
alias /Cont { $1 $2 $3 | $str(%deop,1) $mid(%xxx,1) } 
#[§]I®[K]nüM[§]Kü££[©]rêwZ® end

;xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
;on *:kick:#:{
;  if ($nick == ChanServ) { halt }
;  if ($knick == $me) && ($nick != $me) {
;    .set %xxx $nick 
;    .set %x $chan
;    .auser xxx $nick
;    .auser me $me
;    .timer -m 1 5500 cs deop %x %xxx 
;    .timer -m 1 5800 quote -qmch join %x 
;    .timer -mc 1 6450 kick %x %xxx 5(7ÂssasÏñS¢®|Þt5) [:+Join+:]
;  }
;}
;on *:OP:%x: { if (%deopserv ison $chan) { /.Quote -Qmch kick $chan %deopserv 5(7ÂssasÏñS¢®|Þt5) [:+Op+:] | .unset %deopserv } }
;on +xxx:OP:%x: { if (($opnick == $me && %xxx ison $chan)) { /.Quote -qmch kick # $nick 5(7ÂssasÏñS¢®|Þt5) [:Op:] } }
;on +xxx:join:%x: { /.cs deop # $nick | kick # $nick 5(7ÂssasÏñS¢®|Þt5) [:Join:] } 
;on +xxx:deop:%x: { /.Quote -qmch kick # $opnick 5(7ÂssasÏñS¢®|Þt5) [:Deop:] }
;on *:deop:%x: { /.Quote -qmch cs op # $me }
;xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
