%logo 10x»0x»4[10§4]9I3®4[10K4]9n3ü9M4[10§4]3K9ü3£9£4[10©4]3r9ê3w9Z3®0«x10«x
%autonick (Not Set)
%autopass (Not Set)
%joining1 OFF
%their.kicks 0
%my.kicks 0
%total.kicks 0
%personkicked Empty
%won 0
%lost 0
%tiez 0
